@import "./node_modules/normalize.css/normalize.css";

* {
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    padding: 10px 20px;
    height: 100%;
    background-color: #adefd1ff;
    overflow-x: scroll;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #00203FFF
}

#header {
    text-align: center;
    margin: 25px 0;
}

.container {
    max-width: auto;
}

.flex-center-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-center-start {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flex-inline {
    display: inline-flex;
    width: auto;
}

.container-section {
    margin: 0 15px;
}

.card {
    width: 250px;
}